
label{
    /* color: rgb(238, 238, 36)!important  ; */
}
#password2{
    color: violet !important;
    font-size: 20px;
}

#checkbox{
    color: aquarine !important;

}
.redcolor{
    color: 



}